body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: #BBCDE5;
    margin: 0;
    padding: 0;
}
header {
    padding: 50px 0;
    background-color: #1C5D99;
    text-align: center;
}
h1, h2 {
    color: #FFFFFF;
    margin: 0;
}
nav {
    background-color: #639FA8;
    border-color: #1C5D99;
    min-height: 64px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
    width: 100px;
}

nav a {
    display: block
}